P{
  font-size: 15px;
}

h1{
  color: dimgray;
  font-family: Perpetua Titling MT;
}

h1, h2, h3, h4, h5, h6{
    font-family: Perpetua Titling MT;
}
h2{
  color: grey;
}

body{
  margin: auto;
  max-width: 500px;
}
